/* apply shadows*/
nav,
#filterDiv,
.productsContainer,
.userForm,
.product-img > img,
.buyButton,
.productDetailsWrapper,
.slider-wrapper {
  box-shadow: 5px 5px #717171;
}
* {
  border-radius: 5px;
}

.product-img .product-info {
  width: 50%;
}
.product-img > img,
.product-img > p {
  width: 60%;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
