.productDetailsWrapper {
  display: flex;
  width: 70vw;
  position: absolute;
  top: 20%;
  translate: transform(-50%);
  padding: 5px;
  height: fit-content;
  border: 3px solid black;
  border-radius: 20px;
}
.product-info{
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 50;
}.product-info> div > h3 {
  font-size: 30px;
}
.product-info> div > h2,.product-info> div > h3ss {
  margin: 0;
}
.product-img  > p {
  overflow: hidden;
  text-align: justify;
  height: 50px;
}
.product-img > button{
  background-color: rgb(255, 255, 255);
  width:fit-content;
  font-weight: bold;
  border: 3px solid black;
}

.product-img {
  padding: 10px;
  display: flex;
 flex-direction: column;
 width: 50%;
  align-items: center;
  gap: 10px;
}
.product-img > img {
    
    border: 3px solid black;
}
.buyButton{
    width: 80%;
    height: 10vh;
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
}



/*
.product-img > img {
    width: 100%;
}*/
@media only screen and (max-width: 900px) {
  .productDetailsWrapper {
    flex-direction: column;
    align-items: center;
    width: 70vw;
    position: relative;
  }

  .product-img,.product-info,.product-img > img,.product-img > p{
    width: 80%;
   
  }
  .buyButton {
    width: 100%;
    margin-bottom: 10px;
  }
}
