
nav {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-evenly;
  position: fixed;
  top:0;
  left: 50%;
  transform: translate(-50%);
  border-bottom: 2px solid black;
  background-color: white;
  transition: 1s;
  z-index: 1;
 
  
}
ul{
  list-style: none;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 100%;
}
form{
  width: 100px;
}
#principalRoutes{
  justify-content: space-between;
  padding:0px;
  
  }
#principalRoutes > li > a{
  color: black;
  font-size: 20px;
  text-decoration: none;  
}
#principalRoutes > li > a:hover{
  text-decoration: underline;
}
#shopName{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items:center ;
  
}
#shopName> h1, #shopName > p{
  margin: 0px;  
}
#shopName > p{
  font-size: 10px;
}
#searchWrapper{
  justify-content: center;
  display: flex;
  flex-direction: column;
}
  #navSearchInputWrapper{
    width: 200px;
    height: 30px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    padding:1px;
    align-items: center;
    border-radius:30px;
  }
  #navSearchInputWrapper > input{
    width: 70%;
    height: 20px;
    border: 2px solid black;
    border-radius:30px;
   
    color: black;    

  }
 ::placeholder{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-family: 'oswald';
  }
  #userIcons > li > svg{
 color: black;
 }
#userIcons > li > svg:hover{
  color: rgb(27, 103, 19);
 
 }
#userIconUser > div{
  display: none;
}

#userIconUser:hover{
  display: block;
  z-index: 1;  
}

  #dashboard{
  height:70vh;
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  border: 3px solid black;
  border-radius: 8px; 
  display: flex;
  flex-direction: column;

}
#dashboardWrapper{
  background-color: black;
  height: 900px;
  display: flex;
  flex: column;


}


#userContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
  gap: 40px;
 
}
#dashboard > div{
  height: 40px;
}
#contentWrapper{
  display: flex;
width: 100%;
margin-top: 50px;
align-items: center;

justify-content: center;

}

