p{
  margin: 0;
}

#dashboard {
  height: 70vh;
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
#dashboardWrapper {
  background-color: black;
  height: 900px;
  display: flex;
  flex: column;
}

#userContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
  gap: 40px;
}
#dashboard > div {
  height: 40px;
}
#contentWrapper {
  display: flex;
  width: 100%;

  margin: 20px 0px 20px 0px;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}
